@import "./Fonts.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "NetflixSans", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

.page-1 {
  position: fixed;
  margin-left: 260px;
  color: blue;
  margin-top: 60px;
}

.users {
  display: flex;
}

#launch-title {
  font-size: 4rem;
  text-align: center;
  align-self: end;
  margin-bottom: 12vh;
  font-family: "NetflixSans";
  font-weight: 300;
}
.profile {
  display: flex;
  flex-direction: column;
}

#profile-row {
  display: flex;
  margin-bottom: 20vh;
  gap: 10vh;
}
/* need to fix units used, e.g rem for font sizes */
.profile-img {
  width: 10vw;
  border: 5px solid transparent;
  transition: outline 0.1s ease;
}
.profile-text {
  margin-top: 2vh;
  font-size: 2.5vh;
  align-self: center;
  color: #4f4f4f;
}

.profile:hover .profile-text {
  color: #ffffff;
}

.profile:hover .profile-img {
  border: 5px solid transparent; /* to keep size */
  border: white;
  box-shadow: 0 0 10px 3px white; /* not white for some reason!!*/
  filter: brightness(1.2);
}

/* MAIN SCREEN SECTION */
.navbar {
  display: flex;
  justify-content: space-between;
  gap: 45vw;
  position: fixed;
  align-items: center;
  right: 2vw;
  bottom: 97vh;
  z-index: 1;
  margin-left: 10vw;
  background-color: #0e0e0e;
  height: 8vh;
}
.left-navbar {
  left: 36vw;
  display: flex;
  position: relative;
  top: 2.5vh;
  align-self: flex-start;
  width: 50vw;
  gap: 2vw;
}

.left-navbar button {
  color: white;
  transition: color 0.5s;
  cursor: pointer;
}
.left-navbar button:hover {
  color: #bababa;
}

.right-navbar {
  align-self: flex-end;
  position: relative;
  left: 40vw;
  bottom: 0.8vh;
  width: 50vw;
  gap: 2vw;
}

.adam-logo {
  width: 10vw;
  margin-left: -2rem;
  cursor: pointer;
}

.home-button {
  border: none;
  background: none;
  font-family: "NetflixSans";
  font-weight: 300;
  font-size: 1rem;
}

.user-logo {
  width: 2.5vw;
  margin-top: -1rem;
  cursor: pointer;
  transition: all 0.5s;
}
.user-logo:hover {
  scale: 1.2;
}

.main-preview-vid {
  width: 120vw;
  height: 110vh;
  object-fit: cover;
  margin-top: -34vh;

  position: relative;
  top: 18vh;
}

.main-info {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 45vh;
  left: 7%;
  color: white;
}
.main-title {
  font-size: 3rem;
  font-weight: 700;
}

.main-paragraph {
  font-size: 1.4rem;
  max-width: 40%;
  font-weight: 300;
}

.main-two-buttons {
  display: flex;
  gap: 2vw;
  left: 7%;
  align-items: center;
  position: relative;
  bottom: 38vh;
}

.play-icon {
  width: 3rem;
  height: 2.5rem;
  margin-top: 1.2vh;
  margin-right: -0.3vw;
}

.play-button {
  display: flex;
  gap: 0.5vw;
  align-items: center;
  background-color: white;
  cursor: pointer;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  padding-right: 1vw;
  border-radius: 4px;
  border: none;
}

.play-button:hover {
  background-color: #d2cfd6;
}

.info-button {
  border: none;
  display: flex;
  gap: 0.7vw;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  height: 5.5vh;
  border-radius: 4px;
  color: white;
  padding-right: 1vw;
  padding-left: 1vw;
  font-size: 1.5rem;

  background-color: rgba(
    104,
    100,
    108,
    0.6
  ); /* change opacity only on bg, not the stuff in button too*/
}

.info-button:hover {
  background-color: rgba(104, 100, 108, 0.4);
}

.info-icon {
  stroke: white;
  width: 3rem;
  height: 5rem;
}

.top-picks {
  position: relative;
  font-size: 1.5rem;
  left: 7%;
  font-weight: 500;
  color: white;
  bottom: 32vh;
}

.top-picks-list {
  display: flex;
  gap: 0.5vw;
  padding-top: 2vh;
}

.continue-watching {
  position: relative;
  font-size: 1.5rem;
  left: 7%;
  font-weight: 500;
  color: white;
  bottom: 10vh;
}

.continue-watching-list {
  display: flex;
  padding-top: 2vh;
  gap: 0.5vw;
}

.card {
  cursor: pointer;
  width: 17vw;
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-blend-mode: lighten;
  transition: all 0.7s;
}

.card:hover {
  scale: 1.2;
}

.footer {
  color: white;
  position: relative;
  top: 40%;
  left: 7%;
}
