@font-face {
  font-family: "NetflixSans";
  src: url("/fonts/net_sans_light.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "NetflixSans";
  src: url("/fonts/net_sans_med.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "NetflixSans";
  src: url("/fonts/net_sans_bold.otf") format("opentype");
  font-weight: 700;
}
